.menu1 ul {
    padding: 0;
    list-style: none;
    background: #101010;
    
    display: inline-block;
}
.menuxlogo {
    display: inline-block;
    position: relative;
    line-height: 25px;
}
.menu1 ul li a {
    display: block;
    padding: 8px 20px;
    color: rgb(255, 255, 255);
    font-size: 25px;
    text-decoration: none;
}
.menu1 ul li a:hover {
    color: #fff;
    background: #9393935f;
}

.not-logo{
    
    vertical-align: 15px;
}
.search{
    width: 600px;
    padding:10px;
    outline: none;
    border: 1px solid gray;
    border-radius:20px;
}
.login{
    padding:5px 10px;
    outline:none;
    border:none;
    border-radius:10px;
    font-weight:bold;
    color:white;
    background-color: blue;
    display: block;
    font-size: 12px;
    text-decoration: none;
}
.login:hover{
    color:rgb(255, 255, 255);
    background-color: rgb(255, 0, 217);
}